body{
    margin: 0;
}

.calculator-grid{ 
    background-color: brown;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: minmax(160px, auto) repeat(5, 200px);   
}

.spantwo {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(219, 211, 211, 0.75);
    display: flex;
}
